html,
body,
* {
padding: 0;
margin: 0;
box-sizing: border-box;
background-color: black;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: white;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: auto;
}

.card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 15px;
    width: calc(33.33% - 20px);
    box-sizing: border-box;
    transition: transform 0.3s;
}

.card img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit: cover;


}

.card h3 {
    margin: 10px 0 5px;
    text-align: center;
    color: white;
}

.card p {
    font-size: 16px;
    color: white;
    text-align: center;
}

.card:hover {
    transform: scale(1.05);
}