html,
body,
* {
padding: 0;
margin: 0;
box-sizing: border-box;
background-color: black;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: white;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1300px;
    width: 100%;
    margin: auto;
}

.card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(255, 255, 255);
    margin: 10px auto;
    padding: 15px;
    width: calc(25% - 20px);
    box-sizing: border-box;
    transition: all 0.3s ease;
    height: 500px;
}

.card img {
    width: 100%;
    height: 90%;
    border-radius: 4px;
    object-fit: cover;
}

.card h3 {
    margin: 10px 0 5px;
    text-align: center;
    color: white;

}

.card p {
    font-size: 17px;
    color: white;
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.card.effect:hover {
    transform: scale(1.2) translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);

}


@media (max-width: 1200px) {
    .card {
        width: calc(33.33% - 20px);
    }
}


@media (max-width: 900px) {
    .card {
        width: calc(50% - 20px); 
    }
}


@media (max-width: 600px) {
    .card {
        width: 100%; 
    }
}